<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-init="navbarCollapsed" ng-click="navbarCollapsed = !navbarCollapsed">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">appliapp</a>
    </div> <!-- navbar header -->
    <!-- Collapsable navbar menu with angular ui bootstrap, without bootstrap.js -->
    <!-- http://stackoverflow.com/questions/16268606/responsive-dropdown-navbar-with-angular-ui-bootstrap-done-in-the-correct-angula -->
    <div class="collapse navbar-collapse" ng-class="navbarCollapsed && 'in'">
      <ul class="nav navbar-nav">
	<li class="active">
	  <a href="#">Home</a>
	</li>
	<li>
	  <a href="#about">About</a>
	</li>
	<li>
	  <a href="#contact">Contact</a>
	</li>
      </ul>
    </div> <!-- navbar collapse menu -->
  </div> <!-- navbar container -->
</div> <!-- navbar -->
<div class="jumbotron">
  <div class="container">
    <h1>AppliApp</h1>
    <p>Welcome to the Appliance App</p>
  </div> <!-- container -->
</div> <!-- jumbotron -->

<div class="row">
</div>
<div class="row" ng-controller="ApplianceCtrl">
  
  <div class="col-sm-2">
    
    Search: <input ng-model="query">
    Sort by:
    <select ng-model="orderProp">
      <option value="type">Type</option>
      <option value="power">Power</option>
    </select>
    
  </div>
  <div class="col-sm-8">
    
    <ul>
      <li class="thumbnail" ng-repeat="appliance in appliances | filter:query | orderBy:orderProp">
	<a href="#/appliances/{{appliance.id}}" class="thumb"><img ng-src="{{ appliance.imageUrl}}"></a>
	<a href="#/appliances/{{appliance.id}}">{{ appliance.type }}</a>
	    <p>{{ appliance.power }}</p>
      </li>
    </ul>
    
  </div>
  
  <div class="col-sm-4">
    <div class="input-group">
      <input type="text" ng-model="form.id" placeholder="Enter the id" name="id" class="form-control">
      <input type="text" ng-model="form.type" placeholder="Enter the type" name="type" class="form-control">
      <input type="text" name="power" placeholder="Enter the power" ng-model="form.power" class="form-control">
      <input type="text" name="imageUrl" placeholder="Enter the image url" ng-model="form.imageUrl" class="form-control">
      
      <input type="text" ng-model="form.dimension.height" placeholder="Enter the height" name="height" class="form-control">
      <input type="text" ng-model="form.dimension.width" placeholder="Enter the width" name="width" class="form-control">
      <input type="text" name="depth" placeholder="Enter the depth" ng-model="form.dimension.depth" class="form-control">
      <input type="text" name="volume" placeholder="Enter the volume" ng-model="form.dimension.volume" class="form-control">
      <span class="input-group-btn">
	<button ng-click="addAppliance()" class="btn btn-default" type="button">Save</button>
      </span>
    </div> <!-- input-group -->
  </div> <!-- col-xx-x -->
  
</div> <!-- row -->
